.bd-info {
    margin-top: 40px;
    
    h1 {
        font-size: 44px;
        font-family: 'Ruslan Display', cursive;
    }

    h2 {
        font-size: 38px;
        font-family: 'Ruslan Display', cursive;
    }
}